ul.horizontal-breadcrumb li{
    display: inline-block;
}
ul.horizontal-breadcrumb li a{
    font-size: 13px;
    color: #2A2A2A;
    font-family: "latoregular";
}
ul.horizontal-breadcrumb li:last-child a{
    color: #2980B9;
}