.menu-lateral{
    font-family: "latobold";
    font-size: 14px;
    line-height: 24px;
}
.sub-menus{
    font-family: "latobold";
    font-size: 12px;
    line-height: 18px;
}
.other-menus{
    font-family: "latoregular";
    font-size: 12px;
    line-height: 18px;
}
.text-link{
    font-family: "karmamedium";
    font-size: 18px;
    line-height: 24px;
}
.text-button{
    font-family: "latoregular";
    font-size: 13px;
    line-height: 22px;
}
.navigation{
    font-family: "latoregular";
    font-size: 13px;
    line-height: 22px;
}