<!DOCTYPE html>
<!--
* Copyright 2017 Agência para a Modernização Administrativa, IP.
* Licenciado nos termos da EUPL, versão 1.1
* A utilização desta obra está condicionada aos termos da
 Licença.
* É possível obter uma cópia da Licença em: http://ec.europa.eu/idabc/eupl.html
* Salvo requisito da legislação aplicável ou acordo
 expresso por escrito, o software distribuído nos termos
 da Licença é distribuído SEM GARANTIAS OU CONDIÇÕES DE QUALQUER ESPÉCIE,
 Expressas ou implícitas.
*/ -->
<html>
	<head>
		<title>Link 3 - AMA Usabilidade</title>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type">
		<meta content="initial-scale=1.0, width=device-width" name="viewport">
		<link href="./images/favicon.ico" rel="Shortcut Icon">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link href="./css/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="search-box">
			<div>
		    	<i class="icon-remove">&nbsp;</i>
		    	<input placeholder="Pesquisar..." type="text" /> <i class="icon-angle-right">&nbsp;</i>
		    </div>
		</div>
		<div class="container-fluid" id="wrapper">
			<header id="banner"> 
				<div id="heading"> 
					<nav class="horizontal-menu type2">
						<div> 
							<div class="lang-wrapper">
								<i class="icon-globe"></i> 
								<select id="selectLang"> 
									<option value="en">EN</option>
									<option value="pt">PT</option>
								</select>
							</div> 

							<a href="./"><img src="./images/company_logo.png" alt="AMA-Template" /></a> 
							<i class="icone-burguer"></i> 

							<ul> 
								<li class="lfr-nav-item" id="layout_1"> 
									<a href="./"><span>Início</span></a> 
								</li> 
								<li class="lfr-nav-item selected active dropdown" id="layout_2"> 
									<a class="dropdown-toggle" href="javascript:void(0);"><span>Menu Interior<b class="icon-caret-down"></b></span></a> 
									<ul class="sub-menu"> 
										<li class="lfr-nav-item" id="layout_3">
											<a href="./link1">Link1</a>
										</li> 
										<li class="lfr-nav-item" id="layout_4">
											<a href="./link2">Link2</a>
										</li>
										<li class="lfr-nav-item active" id="layout_5">
											<a href="./link3">Link3</a> 
										</li>
										<li class="lfr-nav-item" id="layout_6">
											<a href="./link4">Link4</a>
										</li> 
									</ul>
								</li>
								<li class="lfr-nav-item" id="layout_7"> 
									<a href="./pagina-de-texto"><span>Página Texto</span></a> 
								</li> 
								<li class="lfr-nav-item " id="layout_8">
									<a href="./formulario"><span>Formulário</span></a>
								</li>
								<li class="lfr-nav-item" id="layout_9">
									<a href="./noticias"><span>Notícias</span></a> 
								</li>
								<li class="search-icon">
									<i class="icone-search">&nbsp;</i>
								</li> 
							</ul> 
						</div> 
					</nav> 
				</div>
			</header>
			<div id="content">
				<div class="top-banner"> 
					<div class="initialTopBanner">
						<div class="imgTopBanner" style="background-image: url(images/banner_componentes.jpg);"></div>
						<div class="black-overlay"></div>
						<div class="text-area">
							<h1>TÍTULO PÁGINA INTERIOR</h1>
							<h3></h3>
							<div class="description">Breve descrição facultativa do tema abordado na mesma</div>
						</div> 
					</div> 
				</div>
				<div class="portlet-breadcrumb container-fluid">
					<ul class="breadcrumb breadcrumb-vertical">
						<li class="first">
							<a href="./">Home</a>
							<span>&gt;</span>
						</li>
						<li class="current-parent breadcrumb-truncate"><a href="#">Menu Interior</a><span>&gt;</span>
					    </li>
						<li class="active last">
							<a href="./link3">Link3</a>
							<span>&gt;</span>
						</li> 
					</ul>
				</div>
				<div id="menuLateralWrapper">
				    <div class="container-fluid">
				        <div class="row-fluid">
				            <div class="span4 left-wrapper">
				                <nav class="side-menu">
				                    <ul>
				                        <li><a href="#">LINK 1</a>
				                        </li>
				                        <li><a href="javascript:void(0);">LINK 2<i class="icone-more">&nbsp;</i></a>
				                            <ul class="sub-menu">
				                                <li><a href="#">- Link 2.1</a>
				                                </li>
				                                <li><a href="#">- Link 2.2</a>
				                                </li>
				                                <li><a href="#">- Link 2.3</a>
				                                </li>
				                                <li><a href="#">- Link 2.4</a>
				                                </li>
				                            </ul>
				                        </li>
				                        <li><a href="javascript:void(0);">LINK 3<i class="icone-more">&nbsp;</i></a>
				                            <ul class="sub-menu">
				                                <li><a href="#">- Link 3.1</a>
				                                </li>
				                                <li><a href="#">- Link 3.2</a>
				                                </li>
				                                <li><a href="#">- Link 3.3</a>
				                                </li>
				                                <li><a href="#">- Link 3.4</a>
				                                </li>
				                            </ul>
				                        </li>
				                        <li><a href="#">LINK 4</a>
				                        </li>
				                        <li><a href="#">LINK 5</a>
				                        </li>
				                        <li><a href="#">LINK 6</a>
				                        </li>
				                        <li><a href="#">LINK 7</a>
				                        </li>
				                    </ul>
				                </nav>
				            </div>
				            <div class="span8 right-wrapper">
				                <h4>TITULO DA PÁGINA INTERIOR</h4>
				                <h5>TÍTULO DE DESTAQUE</h5>
				                <div class="body-content">
				                    <p>Uma página deve descrever em detalhe o conteúdo que pretende abordar. As páginas interiores são utilizadas para detalhar em profundidade um tema, e assim ajudar a esclarecer o cidadão.</p>
				                    <p>Utilize textos objetivos, mas que expliquem em detalhe o tema abordado.</p>
				                </div>
				                <h6>Subtítulo</h6>
				                <div class="body-content">
				                    <p>Prefira frases curtas (e parágrafos) sobre as mais longas, e use linguagem direta, evitando as expressões coloquiais. Os textos descritivos não precisam ser longos para serem abrangentes.</p>
				                    <p>Nestes conteúdos podem usar-se hiperligações que devem estar assinaladas visualmente como nesta <a href="#">palavra</a>.</p>
				                    <p>Utilize imagens exemplificativas dos conteúdos para ajudar a detalhar os mesmos.</p>
				                </div>
				                <div class="img-content">
				                    <div><img alt="Lorem ipsum dolor" src="./images/link4.jpg">
				                    </div>
				                    <p>Aqui deve ficar a legenda da imagem</p>
				                </div>
				                <h6>Subtítulo 2</h6>
				                <div class="body-content">
				                    <p>O conteúdo para ser claro pode ser divido em várias áreas, assim fica visualmente mais clara a separação dos subtemas.</p>
				                    <p>Devem ser aplicadas as mesmas regras em todas as áreas de texto.</p>
				                    <p>As hiperligações abaixo permitem colocar referências úteis que suportam e exemplificam o que é descrito nesta página.</p>
				                </div>
				                <div class="links-content">
				                    <div class="lead3">Hiperligações</div>
				                    <div class="simple-list-wrapper hyperlink">
				                        <ul>
				                            <li><a href="#"><i class="icon-link">&nbsp;</i><span>Hiperligação útil</span></a>
				                            </li>
				                        </ul>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				<div id="newsletterWrapper">
				    <div class="newsletter-wrapper">
				        <div class="newsletter-box"> <i class="icon-envelope-alt">&nbsp;</i> <span>Newsletter</span>
				            <div class="input-wrapper">
				                <input type="email" id="emailNewsletter" placeholder="Insira o seu email..."> <i class="icon-angle-right">&nbsp;</i> </div>
				        </div>
				    </div>
				</div>
				<footer id="footer">
				    <div class="social-media-wrapper">
				        <ul>
				            <li>
				                <a href="http://www.facebook.com/pages/Liferay/45119213107" target="_blank"> <i class="icone-facebook"> </i> </a>
				            </li>
				            <li>
				                <a href="https://www.linkedin.com/company/liferay-inc-" target="_blank"> <i class="icone-linkedin"> </i> </a>
				            </li>
				            <li>
				                <a href="https://twitter.com/liferay" target="_blank"> <i class="icone-twitter"> </i> </a>
				            </li>
				        </ul>
				    </div>
				    <div id="sitemap">
				        <div class="nav-menu">
				            <div class="container-fluid">
				                <div class="row-fluid">
				                    <div class="span2 offset1"><a href="./">Início</a></div>
				                    <div class="span2"> <a href="javascript:void(0);">Página Interior</a>
				                        <ul class="layouts level-1">
				                            <li><a href="./link4">Submenu 1</a></li>
				                        </ul>
				                    </div>
				                    <div class="span2"><a href="./pagina-de-texto">Página de Texto</a></div>
				                    <div class="span2"><a href="./formulario">Formulário</a></div>
				                    <div class="span2"><a href="./noticias">Notícias</a></div>
				                </div>
				            </div>
				        </div>
				    </div>
				    <div id="sitemapSubMenu">
				        <div class="container-fluid">
				            <div class="row-fluid">
				                <div class="span3">&nbsp;</div>
				                <div class="span1"><a href="javascript:void(0);">PRÉMIOS</a>
				                </div>
				                <div class="span2"><a href="javascript:void(0);">OUTRO LINK</a>
				                </div>
				                <div class="span2"><a href="javascript:void(0);">POLÍTICA DE PRIVACIDADE</a>
				                </div>
				                <div class="span2"><a href="./contactos">CONTACTOS</a>
				                </div>
				                <div class="span2">&nbsp;</div>
				            </div>
				        </div>
				    </div>
				    <div id="copyright">
				        <div class="container-fluid">
				            <div class="row-fluid footer-images-wrapper">
				                <div class="span2"><img alt="República Portuguesa" src="./images/republica.png"></div>
				                <div class="span2"><img alt="AMA" src="./images/ama.png"></div>
				                <div class="span2"><img alt="Compete" src="./images/compete.png"></div>
				                <div class="span2"><img alt="Portugal 2020" src="./images/pt2020.png"></div>
				                <div class="span2"><img alt="União Europeia" src="./images/ue.png"></div>
				            </div>
				            <!--footer images -->
				            <div class="row-fluid">
				                <div class="span12">
				                    <p>@2017 <strong>AMA - Agência Para A Modernização Administrativa, I.P.</strong>
				                    </p>
				                </div>
				            </div>
				        </div>
				    </div>
				</footer>
				<div class="privacy-info-message">
				    <div class="layout ">
				        <div class="layout-content ">
				            <div class="column w100 column-first column-last">
				                <div class="column-content column-content-first column-content-last">
				                    <div class="text-private">
				                        <p>Template recomendado para utilização em sítios de organismos públicos é <a href="http://usabilidade.gov.pt/" target="_blank">USABILIDADE.GOV.PT</a>
				                        </p>
				                    </div>
				                    <div class="btnWrapper">
				                        <button class="btn btn btn-primary" type="button">OK</button>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		<div class="toTop"><i class="icon-angle-up"></i></div>

		<script type="text/javascript" src="./js/jquery-3.1.1.min.js"></script> 
		<script type="text/javascript" src="./js/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="./js/select2.full.min.js"></script>
		<script type="text/javascript" src="./js/main.js"></script>
	</body>
</html>