.lead1{
    font-size: 22px !important;
    font-family: 'latobold_italic' !important;
    line-height: 26px !important;
}
.lead2{
    font-size: 22px !important;
    font-family: 'latobold' !important;
    line-height: 26px !important;
}
.lead3{
    font-size: 18px !important;
    font-family: 'latobold' !important;
    line-height: 24px !important;
}
.lead4{
    font-size: 16px !important;
    font-family: 'latobold' !important;
    line-height: 22px !important;
}
.featured1{
    font-family: "latolight";
    font-size: 26px;
    line-height: 32px;
}
.featured2{
    font-family: "latolight";
    font-size: 22px;
    line-height:28px;
}